<div class="push_down">
  <div class="row">
    <div class="small-12">
      <button class="add-list btn btn-success push_right" ng-if="lists.authorized()" ng-click="lists.showModal()">New stash <i class="fa fa-plus fa-1x"></i></button>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 large-up-4 push_down">
    <div class="column user-drama-card" ng-repeat= "list in lists.items" ng-cloak>
      <div class="image">
        <a ui-sref="user.list({listID: list.id, userID: list.user_id})">
          <span class="full-image"><img src="http://www.clipartbest.com/cliparts/dc7/jkA/dc7jkAdc9.svg"></span>
        </a>
      </div>
      <div class="content">
        <a ui-sref="user.list({listID: list.id, userID: list.user_id})">{{list.name}}</a>
        <delete-list list="list" remove-item="lists.removeItem(list)" ng-if="lists.authorized()"> </delete-list>
      </div>
    </div>
  </div>
</div>
