<!-- <a href="" title="Previous page" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">&nbsp;&nbsp;&lsaquo;</a>
<div class="range-label">&nbsp;&nbsp;Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}</div>
<a href="" title="Next page"  ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">&nbsp;&nbsp;&rsaquo;</a> -->

<ul class="pagination">
  <li> <a href="" title="Previous page" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">&nbsp;&nbsp;&lsaquo;</a></li>
  <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
    <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
  </li>
  <li><a href="" title="Next page"  ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">&nbsp;&nbsp;&rsaquo;</a></li>
</ul>
