
.home-loggedout {
  height: 100vh;
  background-color: $ds-lgt-orange;
  background-image: linear-gradient($ds-orange, $ds-off-white);

  h1{
    padding-top: 50px;
    font-family: 'Roboto Slab', sans-serif;
    color: $ds-lgt-grey;
  }

  .index-signup{
    color: $ds-off-white;
    border: 1px solid $ds-off-white;
    font-family: 'Roboto Condensed', sans-serif;

  }
  .row {
    max-width: 80%;
  }
}
