#home_page{
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  padding-top: 50px;
}



.index-signup{
  color: $ds-off-white;
  border: 1px solid $ds-off-white;
  font-family: 'Roboto Condensed', sans-serif;

}
