 @import 'colors.scss';

nav {
  margin-bottom: 0px;
  md-toolbar, md-toolbar:not(.md-menu-toolbar) {
    background-color: $ds-orange;
  }
  h2 {
    padding-right: 20px;
  }
  .md-button:hover {
    background-color: white !important;
    color: $ds-orange!important;
  }
  .search-box {
    padding-top: 40px;
    margin-left: 30%;
    button {
      /*line-height: 30px;*/
      vertical-align: top;
      min-height: 30px;
      min-width: 0;
      margin-top: 14px !important;
    }
  }

  a:hover {
    text-decoration: none;
    background: none;
    color: $ds-orange !important
  }
  a:visited {
    color: $ds-off-white;
  }
}
