.navbar {
  font-family: "Roboto Condensed";
  margin-bottom: 0px;
  background-color: $ds-orange;
  color: $ds-off-white !important;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index:3;

  a {
    color: $ds-off-white !important;
  }
    a:hover{
    background-color: darken($ds-orange, 5%) !important;
    color: $ds-off-white !important;
    }
    a:focus {
     background: darken($ds-orange,8%) !important;
    }


}

#search-button {
  color: $ds-off-white;
  background-color: $ds-lgt-orange;
  border: none;
  border-radius: 0;

}
