.navbar {
  margin-bottom: 0px;
  background-color: $ds-orange;
  color: $ds-off-white !important;
  border-radius: 0;

  a:hover{
    background-color: $ds-xlgt-orange !important;
    }
  //
  //   a:active{
  //   background-color: $ds-orange !important;
  // }
  a:visited {
    background-color: $ds-orange  !important;
    color: $ds-off-white;
  }

}

.navbar-toggle{
  :hover {

  }
  :focus {

  }
}

#search-button {
  color: $ds-off-white;
  background-color: $ds-lgt-orange;
  border: none;
  border-radius: 0;

}
