.user-nav {
  position: fixed;
  padding:0;
  margin:0;
  display: inline-block;
  top: 100px;
  background: #222;
  color: $ds-off-white;
  height: 100vh;
  z-index:3;
  
  li {
    list-style:none;
  }
}

.user-content{
  float: right;
}

#fav_list{
  background-color:#fff2e5;
  border: 1px solid #ffe5cc;
  padding: 20px;
}

.fav_drama{
  background-color:#fff2e5;
}
