.user-nav {
  position: fixed;
  padding:0;
  margin:0;
  display: inline-block;
  top: 100px;
  background: #3F4652;
  color: $ds-off-white;
  height: 100vh;
  z-index:3;
  .push_over{
  }
  ul{
    padding: 10px;
    margin: 0;
  }
  li {
    padding: 0;
    margin: 0;
    list-style:none;
  }
  a {
    color: lighten(#6E737C, 25%);
    line-height: 2.5em;
  }
  a:hover{
    color: $ds-off-white;
    text-decoration: none;
  }
}

.user-content{
  float: right;
  // background: #FFA577;
  // background: darken(#93C8DA, 10%);
  background: $ds-off-white; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(left,$ds-lgt-orange, $ds-orange); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(right,$ds-lgt-orange, $ds-orange); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(right, $ds-lgt-orange, $ds-orange); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to right,$ds-lgt-orange, $ds-orange); /* Standard syntax */
  min-height: 100vh;
}

#fav_list{
  background-color:#fff2e5;
  border: 1px solid #ffe5cc;
  padding: 20px;
}

.fav_drama{
  background-color:#fff2e5;
}
