.cast_section {
  background: white;
}

#cast_block{
  padding-left: 5%;
  overflow:hidden;
  width: 80%;
  margin:0 auto;

}
.cast_roll:after{
  content:"";
  display:block;
  clear:both;
}
#cast_block div{
  padding-left: 4%;
  position:relative;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 5%;
  float:left;
  overflow:hidden;
  visibility:hidden;

  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#cast_block div:nth-child(3n+2){
  margin:0 1%;
}
#cast_block div:nth-child(6n+4){
  margin-left:0.5%;
}
#cast_block div:nth-child(6n+4), #cast_block div:nth-child(6n+5), #cast_block div:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;

  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#cast_block div:nth-child(6n+4):last-child, #cast_block div:nth-child(6n+5):last-child, #cast_block div:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#cast_block div *{
  position: relative;
  visibility:visible;
}

#cast_block div img{
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  margin:0 auto;
  padding: 5%;
  border-radius: 50%;
}

#cast_block div span {
  padding:1% 1%;
  margin-top: 25%;
  margin-left: -54%;
  color: $ds-orange;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transform: skewY(-30deg) rotate(90deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-visibility:hidden;
}

/* CONTAINER */
#browse-page {
  max-width: 90%;
  text-align: left;

  #drama-browse {
    max-width: 100%;

    .drama-cards {
      margin: 10rem 0 20rem;
    }

  }

  /*    TOASTS      */
  md-toast {
    position: fixed;
    bottom: 0;
    .md-toast-content {
      background-color: #4AC948 !important;
    }
  }

  //
  // .range-label {
  //   display: inline;
  // }
  //



  /*  Material like Cards */
  .card {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #FA812F;
    border-radius: 2px;
    .title {
      line-height: 3rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .content {
      padding: 1.3rem;
      font-weight: 300;
      border-radius: 0 0 2px 2px;
    }
    p {
    margin: 0;
    }
    .action {
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      padding: 1.3rem;
    }
    a {
      color: #FA812F;
      margin-right: 1.3rem;
      transition: color 0.3s ease;
      text-transform: uppercase;
      text-decoration: none;
    }
    .favorite-drama {
      position: absolute;
      top: 0;
      right: 0;
    }
    .image {
      position: relative;
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.3rem;
        color: #fff;
      }
      img {
        border-radius: 2px 2px 0 0;
        top: 0;
        left: 0;
        width: 100%;

      }
    }
  }

  /* FAVORITES   */

  .favorite-drama-active {
    color:red;
  }


  /*   RATING    */
  .drama-rating-picker {
    margin-bottom: 10px;
  }

  .drama-rating {
    width: 125px;
    text-align: center;
    margin-bottom: 20px;

    .drama-rating-box {
    // background: #FE7A47;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    background-color: #FE7A47;
    color: white;
    }
  .drama-rating-box:before, .drama-rating-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #FE7A47;
    }
    .drama-rating-box:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
    }
    .drama-rating-box:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
    }
    .drama-rating-box:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-width: 0px 0px 20px 20px;
      border-style: solid;
      border-color: #FE7A47;
    }
  }

  .rating{
    color: #D9D9D9;
    margin: 0;
    padding: 0;
    ul {
      display: inline-block;
    }
    li {
      list-style-type: none;
      display: inline-block;
      padding: 1px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
    }
    .filled {
      color: red;
    }
  }

  .review-hearts {
    color: red;
  }






  /*   DELETE SOON    */
  .drama-image-and-info {
    margin-bottom: 50px;
    .drama-info {
      padding-left: 30px;
      h1 {
        font-size: 3em;
        margin: 0 0 10px 0;
      }
      h2 {
        font-size: 1.5em;
        margin: 0 0 10px 0;
      }
      td {
        padding: 9px 5px;
      }
    }
    img {
      width: 100%;
    }
  }

  md-card-title {
    a,
    a:visited {
      color: #FE7A47;
    }
    a:hover {
      background: none;
    }
  }

  md-card md-card-title {
    padding: 10px 16px 0;
  }

  md-input-container {
    margin: 0;
    vertical-align: top;
    padding: 0 2px;
  }
  .drama-description {
    margin-bottom: 20px;
  }

  .drama-review-and-cast {
    h3 {
      font-size: 2em;
    }
    h4 {
      font-size: 1.3em;
      font-weight: bold;
    }
    .drama-cast {
      padding-left: 10px;
      div {
        text-align: center;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
      }
    }
  }
}
