$ds-red: #D55448;
$ds-orange: #FE7A47;
$ds-light-orange: #FFA577;
$ds-light-grey:#EEEEEE;
$ds-off-white: #F9F9FF;

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
