<div class="row small-up-1 medium-up-3 large-up-4 push_down">
  <div>
    <h3> {{faves.name}} </h3>
    <h4>Description:</h4>
    <p> {{faves.description}} </p>
  </div>
  <div ng-repeat= "drama in faves.dramas" class="column" ng-cloak>
    <a ui-sref="drama({dramaID: drama.id})">
      <span class="full-image"><img src="{{drama.image_url}}" alt="{{drama.poster_file_name}}"></span>
    </a>
    <a ui-sref="drama({dramaID: drama.id})">
      {{drama.name}}
    </a>
    <div ng-if="faves.authorized()">
      <add-drama drama="drama" user="{{faves.userID}}" user-lists="faves.userLists" selected-list="faves.selectedList"> </add-drama>
      <delete-drama drama="drama" remove-item= "faves.removeItem(drama)" list="{{faves.id}}" user="{{faves.userID}}"> </delete-drama>
    </div>
  </div>
</div>
