<div class="row">
  <div id="user-bar" class="small-12 columns">
    <div class="small-4 medium-8 columns">&nbsp;</div>
    <div id="user-info" class="small-8 medium-4 large-3 columns">
  	  <i class="fa fa-user fa-2x user-icon"></i><span class="user-profile-name" name-user user-id="user.profile.id"></span>
  	  <div ng-if="user.currentUser && !user.authorized()" class="relationship">
        &nbsp;
        <button class="alter-relationship" ng-if="!user.relationshipId" ng-click="user.follow()"><i class="fa fa-plus fa-1x"></i></button>
  	    <button class="alter-relationship" ng-if="user.relationshipId" ng-click="user.unfollow()"><i class="fa fa-minus fa-1x"></i></button>
  	  </div>
    </div>
    <div class="hide-for-small-only large-1 column"></div>
  </div>
</div>
<div class="row">
  <div class="large-1 columns user-nav">
    <article class="">
      <ul class="side-nav">
        <li role="menuitem"><a ui-sref="user.lists">STASH</a></li>
        <li role="menuitem"><a ui-sref="user.fav_list">Top 5</a></li>
        <li role="menuitem" ng-repeat="list in user.lists"><a ui-sref="user.list({listID: list.id})">{{list.name}}</li>
      </ul>
    </article>
  </div>
    <div class="large-11 columns user-content" ui-view></div>
</div>
