<!DOCTYPE html>
<html ng-app="secondLead">
  <head>
    <title>Second Lead</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-controller="MainCtrl as main">
    <nav ng-cloak>
      <md-content>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>
              <md-button aria-label="Home" ng-if="true" ui-sref="home" ui-sref-opts="{reload: true}">
                <a ui-sref-active="active">DramaStash</a>
              </md-button>
            </h2>
            <md-button aria-label="Browse" ng-if="true" ui-sref="dramas({genre:nil, country:nil , page: 1})" ui-sref-opts="{reload: true}">
              <a ui-sref-active="active">Browse</a>
            </md-button>
            <md-button aria-label="My Page" ng-if="main.currentUser" ui-sref="user.lists({userID: main.currentUser.id})" ui-sref-opts="{reload: true}">
              <a ui-sref-active="active">My Page</a>
            </md-button>
            <md-button aria-label="Logout" ng-if="main.loggedIn || main.currentUser">
              <a ng-click="main.logout()">Logout</a>
            </md-button>
            <md-button aria-label="Register" ng-if="!main.loggedIn && !main.currentUser">
              <a ui-sref='register' ui-sref-active="active">Sign Up</a>
            </md-button>
            <md-button aria-label="Login" ng-if="!main.loggedIn && !main.currentUser">
              <a ui-sref='login' ui-sref-active="active">Log In</a>
            </md-button>
            <div class="search-box">
              <form name="searchForm" id="search-form" role="form" ng-submit="main.submitSearch(main.query)">
                <md-input-container>
                  <label>Search</label>
                  <auto-search query="main.query" show-search="main.showResults()">
                </md-input-container>
                <md-button type="submit" class="go">
                  <i class="fa fa-search fa-1x"></i>
                </md-button>
              </form>
            </div>
          </div>
        </md-toolbar>
      </md-content>
    </nav>
    <section>
      <ui-view></ui-view>
      <%= yield %>
    </section>
  </body>
</html>
