<!DOCTYPE html>
<html ng-app="secondLead">
  <head>
    <title>DramaStash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="MainCtrl as main" ng-cloak>

    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span><i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand" ng-if="true" ui-sref="home" ui-sref-opts="{reload: true}">DramaStash</a>
      </div>
      <div class="uib-collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav">
          <li>
            <a aria-label="Browse" ng-if="true" ui-sref="dramas({genre:nil, country:nil , page: 1})" ui-sref-opts="{reload: true}" ui-sref-active="active">Browse</a>
          </li>
          <li aria-label="My Page" ng-if="main.currentUser">
            <a ui-sref="user.lists({userID: main.currentUser.id})" ui-sref-opts="{reload: true}" ui-sref-active="active">My Page</a>
          </li>
          <li aria-label="Login" ng-if="!main.loggedIn && !main.currentUser">
            <a ui-sref='login' ui-sref-active="active">Sign Up/Log In</a>
          </li>
          <li aria-label="Logout" ng-if="main.loggedIn || main.currentUser">
            <a ng-click="main.logout()">Log Out</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search" ng-submit="main.submitSearch(main.query)">
            <div class="form-group">
              <auto-search query="main.query" show-search="main.showResults()">
            </div>
            <button type="submit" class="btn btn-default" id="search-button">Submit</button>
          </form>
        </ul>
      </div>
    </nav>

    <section>
      <ui-view></ui-view>
      <%= yield %>
    </section>

  </body>
</html>
